@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.card {
    margin: -1.375rem 1rem;
    background-color: $global-white-color;
    padding: 1rem 1.5rem 1.6875rem 1.5rem;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  
    @include tablet {
      @include display-flex(row, space-between, none);
      margin: -2rem 2rem;
    }
  
    &__section {
      @include display-flex(row, flex-start, none);
      gap: 2.5rem;
      // width: 100%;
  
      @include tablet {
        // @include display-flex(row, none, none);
        width: 100%;
        margin: 0 0.75rem;
  
      }
    }
  
    &__content {
      width: 50%;
  
      @include tablet {
        @include display-flex(row, none, none);
        // width: 100%;
        
      }
  
      &-div {
        margin-bottom: 1.75rem;
  
        @include tablet {
          @include display-flex(row, none, none);
          
        }
      }
    }
  
    &__titles {
      text-transform: uppercase;
      margin-bottom: 0.75rem;
  
      @include tablet {
        display: none;
      }
  
      &--padding {
        padding-top: 0.29rem
      }
    }
  
    &__text {
  
      @include tablet {
      }
  
      &-link {
        text-decoration: none;
  
        @include tablet {
          padding-right: 2rem;
        }
  
        
      }
  
      &-btn {
        color: $interactive-color;
        // background-image: url('../../assets/Icons/chevron_right-24px.svg');
        // background-repeat: no-repeat;
        // background-position: 55% 0%;
        @include display-flex(row,none,center);
  
        @include tablet {
          padding-right: 2rem;
          background-position: 90% 0%;
        }
        
  
      }
    }
  
    &__in-stock {
      @include display-flex(none, center, center);
      background-color: #15846315;
      width: 4rem;
      height: 1.5rem;
      color: $instock-label-color; 
      text-transform: uppercase;
      margin-top: -0.35rem;
      border-radius: 0.75rem;
    }
  
    &__out-stock {
      @include display-flex(none, center, center);
      display: none;
      background-color: #c945152a;
      width: 4rem;
      height: 1.5rem;
      color: $alert-color; 
      text-transform: uppercase;
      margin-top: -0.35rem;
      border-radius: 0.75rem;
    }
  
    &__content-bottom {
      @include display-flex(row, space-between, none);
    }
  
  
  }
  