@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

.header {
  width: 100%;
  height: 12.5rem;
  background-color: $nav-background-color;
}

.inventory {
  &__container {
    margin: -4rem 1rem 0rem 1rem;
    background-color: $global-white-color;
    border-radius: 0.1875rem 0.1875rem 0 0;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

    @include tablet {
      margin: -5.875rem 2rem 2rem 2rem;
      box-shadow: none;
    }
  }

  &__section {
    margin: 0rem 1.5rem 1.5rem 1.5rem;

    @include tablet {
      @include display-flex(row, space-between, none);
      margin: 0rem 2rem 0rem 2rem;
    }
  }

  &__title {
    color: global-text-color;
    padding-top: 2rem;
    padding-bottom: 1rem;

    @include tablet {
      padding-top: 2rem;
      padding-bottom: 1.375rem;
    }
  }

  &__actions {
    @include tablet {
      @include display-flex(row, flex-end, none);
      gap: 1rem;
    }

    &-search {
      width: 100%;
      height: 2.25rem;
      border: 1px solid $secondary-grey;
      border-radius: 1.25rem;
      padding-left: 1rem;
      background-image: url("../../assets/Icons/search-24px.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      margin-bottom: 1rem;

      @include tablet {
        width: 11.5625rem;
        margin-top: 2rem;
        background-position: 9.125rem 0.35rem;
      }

      //   ::placeholder {
      //     // font-family: ;
      //   }
    }

    &-btn {
      width: 100%;
      height: 2.25rem;
      background-color: $interactive-color;
      color: $global-white-color;
      border-radius: 1.25rem;
      border-style: none;
      margin-bottom: 1.5rem;

      @include tablet {
        width: 8rem;
        margin-top: 2rem;
      }
    }
  }

  &__list {
    display: none;

    @include tablet {
      @include display-flex(row, space-between, none);
      background-color: $page-background-color;
      opacity: 0.7;
      padding: 0rem 0rem 0rem 2rem;
    }

    // &-item {
    // //   background-image: url("../../assets/Icons/sort-24px.svg");
    // //   background-repeat: no-repeat;
    //   // padding: 0.5rem
    // }
  }

  &__icon-1 {
    @include tablet {
      background-image: url("../../assets/Icons/sort-24px.svg");
      background-repeat: no-repeat;
      padding: 0.725rem 2rem 0.825rem 0;
      background-position: 6.25rem 0.775rem;
      background-size: 15%;
    }
  }

  &__icon-2 {
    @include tablet {
      background-image: url("../../assets/Icons/sort-24px.svg");
      background-repeat: no-repeat;
      padding: 0.725rem 2rem 0.825rem 0;
      background-position: 3.875rem 0.775rem;
      background-size: 21%;
    }
  }

  &__icon-3 {
    @include tablet {
      background-image: url("../../assets/Icons/sort-24px.svg");
      background-repeat: no-repeat;
      padding: 0.725rem 2rem 0.825rem 0;
      background-position: 2.875rem 0.775rem;
      background-size: 26%;
    }
  }

  &__icon-4 {
    @include tablet {
      background-image: url("../../assets/Icons/sort-24px.svg");
      background-repeat: no-repeat;
      padding: 0.725rem 2rem 0.825rem 0;
      background-position: 1.5rem 0.775rem;
      background-size: 35%;
    }
  }

  &__icon-5 {
    @include tablet {
      background-image: url("../../assets/Icons/sort-24px.svg");
      background-repeat: no-repeat;
      padding: 0.725rem 2rem 0.825rem 0;
      background-position: 4.875rem 0.775rem;
      background-size: 18%;
    }
  }

  &__icon-6 {
    @include tablet {
      padding: 0.725rem 2rem 0.825rem 0;
      text-align: end;
    }
  }
}

.card {
  margin: -1.375rem 1rem;
  background-color: $global-white-color;
  padding: 1rem 1.5rem 1.6875rem 1.5rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

  @include tablet {
    @include display-flex(row, space-between, none);
    margin: -2rem 2rem;
  }

  &__section {
    @include display-flex(row, flex-start, none);
    gap: 2.5rem;

    @include tablet {
      // @include display-flex(row, none, none);
      width: 100%;
    }
  }

  &__content {
    width: 50%;

    @include tablet {
      @include display-flex(row, none, none);
      // width: 100%;
      
    }

    &-div {
      margin-bottom: 1.75rem;

      @include tablet {
        @include display-flex(row, none, none);
        width: 100%;
      }
    }
  }

  &__titles {
    text-transform: uppercase;
    margin-bottom: 0.75rem;

    @include tablet {
      display: none;
    }

    &--padding {
      padding-top: 0.29rem
    }
  }

  &__text {

    @include tablet {
    }

    &-link {
      text-decoration: none;

      @include tablet {
        padding-right: 2rem;
      }

      
    }

    &-btn {
      color: $interactive-color;
      background-image: url('../../assets/Icons/chevron_right-24px.svg');
      background-repeat: no-repeat;
      background-position: 5rem -0.35rem;

      @include tablet {
        padding-right: 2rem;
      }
      

    }
  }

  &__in-stock {
    @include display-flex(none, center, center);
    background-color: #15846315;
    width: 4rem;
    height: 1.5rem;
    color: $instock-label-color; 
    text-transform: uppercase;
    margin-top: -0.35rem;
    border-radius: 0.75rem;
  }

  &__out-stock {
    @include display-flex(none, center, center);
    display: none;
    background-color: #c945152a;
    width: 4rem;
    height: 1.5rem;
    color: $alert-color; 
    text-transform: uppercase;
    margin-top: -0.35rem;
    border-radius: 0.75rem;
  }

  &__content-bottom {
    @include display-flex(row, space-between, none);
  }


}
