@import "../../styles/partials/fonts";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.warehousePage {
  background-color: $global-white-color;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 15px 1px $secondary-grey;
  @include tablet {
    margin: 2rem;
  }
  @include desktop {
    // max-width: 1020px;
    margin: 2rem 10rem;
  }
}