@import "../../styles/partials/fonts";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.warehousePage {
  @include component-box;
    margin-top: -4.75rem;

    @include tablet {
        margin: 2rem;
        margin-top: -5rem;

    }

    @include desktop {
        margin: 2rem 10rem;
        margin-top: -5rem;
    }
}
